body{
    background-color:#f1fbff;
    color:#40409b;
    margin-top:20px;
    margin-bottom:20px;
}

#zold_ragyogas{
    -webkit-filter:drop-shadow(0px 0px 15px green);
    filter:drop-shadow(0px 0px 15px green);
}

.bal-oszlop{
    text-align:center;
    font-style:italic;
    padding:20px;
    background-color:#99cde2;
    font-size:20px;
}

.kerek{
    border-radius:30px;
}

.minuszmargo{
    width:80%;
    background-color:white;
    position:relative;
    margin:-60px auto 0 auto;
    color:#40409b;
    font-style:italic;
    font-size:20px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    padding:10px;
}

.icon{
    height:150px;
    display:block;
    margin:0 auto;
}

#narancs_ragyogas{
    -webkit-filter:drop-shadow(0px 0px 15px orange);
    filter:drop-shadow(0px 0px 15px orange);
}

.kozepre{
    text-align:center;
}

.nyil{
    height:30px;
    margin-right:10px;
}

.keretes{
    border-radius:15px;
    margin-top:30px;
    width:100%;
    border:5px solid white;
}